[Service]
ExecStart= /home/pi/iskra-modbus-srvr/modbus.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=modbus-service
User=pi
Group=pi
#Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
